
.navbar-brand {
  font-size: larger;
}

input, select, button {
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.botao {
  font-size: 1.2em;
  background: #FFC107;
  border: 0;
  position:relative;
  margin-bottom: 1em;
  color: #242424;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  left: 58%;
}


.botao1 {
  font-size: 1.2em;
  background: #0666F4;
  border: 0;
  margin-bottom: 1em;
  color: #ffff;
  padding: 0.2em 0.6em;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  left: 60%;
}

.modal-header {
  background: #1e68d8;
  color:#ffff;
  
}

.modal-body {
  background: #f7f5f1;
}

.input-group-text{
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.label{
  padding: 5px;
}

.form {
  width: 60%;
  height: 60%;
  display: flex;
  background: #f7f5f1;
}

.container{
  padding: 3rem;
}

.leg1 {
  margin-bottom: 3 rem;
  display: flex;
  justify-content: baseline;
}


.modal-footer{
  background: #f8f7f5;

}

.navbar-brand {
  align-items: center;
  margin: 50%;
}
 
.container1 {
  width: 50%;
  height: 60%;
  display: flex;
  background: #f7f5f1;
}

.form1 {
  background: #f7f5f1;
}

.navbarin {
  align-items: center;
}